<h1>Your profile:</h1>
<%= form_with model: @profile do |f| %>
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <% if @profile.avatar.attached? %>
      <%= image_tag @profile.avatar %>
    <% else %>
      <%= f.file_field :avatar %>
    <% end %>
  </p>
  <%= f.submit %>
<% end %>
